In [30]:
# [Thực hành] Đọc dữ liệu vào DataFrame

# Cách 1: Ghi tường minh các tham số
import pandas as pd
df=pd.read_csv(filepath_or_buffer = 'FoodPrice_in_Turkey.csv', sep = ',')
# Hiển thị 5 dòng dữ liệu đầu tiên
df.head()

# Cách 2: Không ghi tường minh các tham số
import pandas as pd
df=pd.read_csv('FoodPrice_in_Turkey.csv')
# Hiển thị 5 dòng dữ liệu đầu tiên
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [ ]:
# Cách 2: Không ghi tường minh các tham số
import pandas as pd
df=pd.read_csv('FoodPrice_in_Turkey.csv')
# Hiển thị 5 dòng dữ liệu đầu tiên
df.head()

In [ ]:
df=pd.read_excel('house_price_đống đa.xlsx')
df.head()

In [ ]:
df = pd.read_json('FoodPrice.json')
df.head()

In [31]:
df=pd.read_hdf('FoodPrice.h5', 'table')
df.head()

FileNotFoundError: File FoodPrice.h5 does not exist

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_in_North_America'
df = pd.read_html(url)
df[0].head()

[Thực hành] Ghi dữ liệu từ DataFrame

In [ ]:
# Đọc dữ liệu vào DataFrame
import pandas as pd
df=pd.read_csv(filepath_or_buffer = 'FoodPrice_in_Turkey.csv', sep = ',')
df.head()

# df.to_csv('demo_FoodPrice.csv')
# df.to_excel('demo_FoodPrice.xlsx')
# df.to_json('demo_FoodPrice.json',orient='columns')
# df.to_hdf('demo_FoodPrice.h5', 'table')
# df.to_html('demo_FoodPrice.html')

[Thực hành] Chỉnh sửa cấu trúc bộ dữ liệu

In [34]:
import pandas as pd
df=pd.read_csv('FoodPrice_in_Turkey.csv')

# Đổi tên cột thuộc tính
df.rename(columns={'Place':'Địa điểm','ProductName':'Tên SP'},inplace=True)

# Thêm một cột mới với tất cả các giá trị rỗng NaN
df['new_column'] = 'NaN'

# Thêm cột giảm giá 10% cho tất cả các bản ghi
# Cách 1: Gán tên cột dưới dạng một chuỗi và thêm giá trị cho cột đó

df['Giảm giá']= pd.Series('10%', index=df.index)

# Thêm cột giảm giá 12% cho tất cả các bản ghi
# Cách 2: Sử dụng phương thức insert() gồm 3 đối số
# - đối số đầu tiên là chỉ mục (vị trí) muốn chèn cột mới (chỉ mục là 10--> cột mới được thêm vào vị trí 11 của DataFrame)
# - đối số thứ hai là tên của cột mới muốn chèn 
# - đối số thứ ba giá trị của cột

df.insert(10,'Giảm giá 2',pd.Series('12%', index=df.index))
# Xóa một cột sử dụng hàm del
del df['new_column']
# Xóa một cột sử dụng phương thức pop()
# df.pop('Giảm giá 2')

# # Xóa một cột sử dụng phương thức drop() 
# Cú pháp: df.drop('column_name', axis=1, inplace=True)
# Trong đó axis = 1 là xóa cột; inplace = True xóa trục tiếp trên dữ liệu gốc mà không phải tạo bản sao
# df.drop('Giảm giá', axis=1, inplace=True)

# Xóa nhiều cột sử dụng phương thức drop()
# df.drop(['Month','Year'], axis=1, inplace=True)

# Cú pháp: df.drop(Chỉ số dòng cần xóa, axis=0, inplace=True)
# axis = 0 là giá trị mặc định có thể viết tường minh hoặc không
# Xóa dòng có chỉ số 1 (dòng thứ 2) sử dụng phương thức drop()
# df.drop(1, axis = 0, inplace=True)

# Xóa các dòng có chỉ số 7377 và 7379 sử dụng phương thức drop()
# df.drop([7377,7379], inplace=True)

# df.tail()  # Hiển thị 5 bản ghi cuối

# Sử dụng phương thức append() thêm một dòng vào cuối DataFrame
# df = df.append({'Địa điểm':'NA','ProductId':'RR','Tên SP':'Rice','UmId':10,'UmName':'KG','Month':6,'Year':2021,'Price':84.3785,'Giảm giá':'10%','Giảm giá 2':'12%'},ignore_index=True)





df.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,Giảm giá,Giảm giá 2
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,10%,12%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,10%,12%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,10%,12%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,10%,12%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,10%,12%