In [2]:
import pandas as pd

df = pd.read_csv('FoodPrice_in_Turkey.csv')

In [3]:
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [10]:
df_price = df.loc[:, 'Price']
df_price.head()

0    4.4920
1    4.5786
2    4.7865
3    5.1337
4    5.5099
Name: Price, dtype: float64

In [5]:
df_price.count()

7381

In [6]:
df_price.min()

0.2539

In [7]:
df_price.max()

159.4458

In [8]:
df_price.mean()

15.738708576073702

In [9]:
df_price.mode()

0    0.4118
Name: Price, dtype: float64

In [11]:
df_price.median()

5.9096

Nếu: Mode > Median > Mean: Dữ liệu có phân bố lệch trái.

Nếu: Mode = Median = Mean: Dữ liệu có phân bố đối xứng (phân bố chuẩn).

Nếu: Mode < Median < Mean: Dữ liệu có phân bố lệch phải.

In [12]:
df.describe()

         ProductId         UmId        Month         Year        Price
count  7381.000000  7381.000000  7381.000000  7381.000000  7381.000000
mean    254.509687    15.252811     6.479881  2017.458474    15.738709
std     141.008599    25.276665     3.530361     1.499256    22.418284
min      52.000000     5.000000     1.000000  2013.000000     0.253900
25%     114.000000     5.000000     3.000000  2017.000000     3.223600
50%     239.000000     5.000000     6.000000  2018.000000     5.909600
75%     388.000000     5.000000    10.000000  2019.000000    20.441900
max     502.000000   102.000000    12.000000  2019.000000   159.445800

In [13]:
df_place = df.loc[:, 'Place']

In [14]:
df_place.count()

7381

In [15]:
df_place.min()

'Ankara'

In [16]:
df_place.max()

'National Average'

In [17]:
df_place.mode()

0    National Average
Name: Place, dtype: object

# Pivot Table

pandas.pivot_table(values=’a’, index=’b’, columns=’c’, aggfunc='mean’)

In [18]:
df.pivot_table(values='Price', index='ProductName', columns='Year', aggfunc= 'mean')

Year,2013,2014,2015,2016,2017,2018,2019
ProductName,,,,,,,
Apples (red) - Retail,2.080950,2.410118,2.401417,2.428333,2.560000,NaN,NaN
Apples - Retail,NaN,NaN,NaN,NaN,3.334175,3.923417,4.259810
Bananas - Retail,4.002225,4.962827,5.368833,5.914167,7.313738,8.701475,10.879371
Beans (white) - Retail,6.932800,9.484309,7.288333,6.949167,9.217700,9.242844,11.658690
Bread (common) - Retail,2.853000,3.069491,2.982917,3.373333,4.178841,4.740619,5.513271
Bread (pita) - Retail,NaN,NaN,2.311429,2.440000,2.480000,NaN,NaN
Bulgur - Retail,2.405025,2.593791,2.680500,2.765833,3.293874,3.546027,4.369369
Cabbage - Retail,1.104800,1.073233,1.197000,1.375714,1.589495,1.751664,2.232738
Cauliflower - Retail,2.046950,2.129317,2.772800,2.655714,2.878481,3.237750,4.326537
Cheese - Retail,NaN,NaN,15.421429,15.490833,24.425554,27.905196,28.013267
Chickpeas - Retail,5.918450,5.815827,5.665250,7.765000,13.577754,12.243981,9.051525
Cocoa (powder) - Retail,37.795150,38.134264,36.657917,36.696667,43.299851,45.214012,48.160994
Coffee (instant) - Retail,39.954750,36.359891,29.626917,35.796667,45.395493,50.388579,42.705810
Coffee - Retail,30.890625,31.261200,34.499917,36.154167,42.082349,44.706650,47.646450
Cucumbers (greenhouse) - Retail,1.737400,1.936482,1.977083,2.298333,4.376667,NaN,NaN
Cucumbers - Retail,NaN,NaN,NaN,NaN,2.902958,3.180702,4.023225
Eggplants - Retail,NaN,NaN,1.917143,2.550000,3.543931,3.641333,5.018958
Eggs - Retail,0.310175,0.350036,0.352250,0.361667,0.480056,0.609846,0.549542
Electricity - Retail,NaN,NaN,NaN,NaN,0.411850,0.502633,0.600825
Fish (fresh) - Retail,13.461625,14.228209,14.089750,15.066667,20.882454,24.301085,29.341567
Fuel (gas) - Retail,NaN,NaN,63.548571,64.800000,77.366069,88.545933,92.551890
Fuel (petrol-gasoline) - Retail,NaN,NaN,4.590000,4.535000,5.291772,6.253287,15.211690
Garlic - Retail,8.143075,8.758027,10.943750,14.851667,14.835772,13.024994,25.999040
Groundnuts (shelled) - Retail,12.605350,12.779155,17.512000,17.527500,19.470874,21.036458,29.546023
Lentils - Retail,3.452275,4.467318,5.786250,6.957500,7.807254,6.684435,6.587621
Meat (chicken) - Retail,6.677175,7.224882,7.024250,7.434167,8.890931,9.954510,12.097452
Meat (mutton) - Retail,25.609925,26.065691,27.004750,31.058333,43.883523,51.335848,55.530354
Meat (veal) - Retail,25.021700,27.711155,33.118250,37.070833,41.791177,43.621363,46.047448
Milk (pasteurized) - Retail,2.379750,2.643636,2.817833,2.907500,3.168628,4.080617,4.448258
"Milk (powder, infant formula) - Retail",NaN,NaN,63.757143,70.695833,85.364697,123.919679,127.172654
Oil (olive) - Retail,10.615950,12.710382,21.570500,27.822500,29.237797,30.880817,28.087996
Oil (sunflower) - Retail,6.082575,6.159518,8.214250,7.721667,8.173803,9.042829,10.151044
Onions - Retail,1.064950,1.088882,1.375250,1.481667,1.276641,2.564400,3.108898
Oranges - Retail,3.792200,1.630714,1.712429,1.621250,2.852100,2.982422,4.339036
Pasta - Retail,2.370975,2.687491,2.944917,2.995833,3.160313,3.494312,4.314592
"Peas (green, dry) - Retail",2.385100,3.015000,3.166667,NaN,NaN,NaN,NaN
Potatoes - Retail,NaN,NaN,1.538571,1.094167,1.636687,2.442390,3.100167
Rice - Retail,4.747700,6.367855,6.426833,6.047500,7.164792,8.640444,9.384565
Salt - Retail,1.434225,1.462836,1.516083,1.666667,1.998374,2.232254,2.318398
Spinach - Retail,NaN,NaN,2.660000,2.292857,2.642886,2.802390,4.477733
Sugar - Retail,3.554150,3.783709,3.852667,4.175833,4.277897,4.655442,4.949027
Tea (green) - Retail,3.590825,3.897700,4.084667,4.460000,4.660000,NaN,NaN
Tea (herbal) - Retail,NaN,NaN,NaN,NaN,5.016853,5.838017,5.345148
Tea - Retail,14.152900,16.543309,19.870750,22.537500,27.112123,28.601408,28.860771
Tomatoes (paste) - Retail,NaN,NaN,6.771429,6.479167,5.839510,7.688948,10.898944
Tomatoes - Retail,1.833025,1.936864,1.927667,1.914167,3.012379,3.897779,4.399598
Transport (public) - Retail,NaN,NaN,NaN,NaN,2.569043,2.425712,2.436694
"Wage (non-qualified labour, non-agricultural) - Retail",NaN,NaN,33.100000,43.330000,46.800000,NaN,NaN
Water - Retail,NaN,NaN,NaN,NaN,5.052814,5.826585,5.190500
Wheat flour - Retail,2.255350,2.565082,2.672583,2.848333,3.132718,3.405498,3.685917
Yogurt - Retail,NaN,NaN,3.984286,3.935833,4.783010,5.804490,5.956696
Zucchini - Retail,NaN,NaN,NaN,NaN,3.477094,3.656315,4.288779

In [19]:
df.pivot_table(values = 'Price', columns= 'Year', aggfunc= 'max')

Year      2013     2014   2015   2016     2017      2018     2019
Price  40.1146  39.7204  65.54  76.96  93.9628  159.4458  150.038

In [20]:
df.pivot_table(values='Price', index = 'ProductName', aggfunc='max')

                                                       Price
ProductName
Apples (red) - Retail                                 2.9800
Apples - Retail                                       6.0925
Bananas - Retail                                     12.9400
Beans (white) - Retail                               13.0975
Bread (common) - Retail                               6.1942
Bread (pita) - Retail                                 2.5600
Bulgur - Retail                                       5.2611
Cabbage - Retail                                      3.2543
Cauliflower - Retail                                  5.9113
Cheese - Retail                                      35.5297
Chickpeas - Retail                                   15.5274
Cocoa (powder) - Retail                              54.8237
Coffee (instant) - Retail                            61.3502
Coffee - Retail                                      54.9968
Cucumbers (greenhouse) - Retail                       4.5700
Cucumbers - Retail                                    7.1657
Eggplants - Retail                                   11.1584
Eggs - Retail                                         0.8300
Electricity - Retail                                  0.7102
Fish (fresh) - Retail                                37.7223
Fuel (gas) - Retail                                 112.4568
Fuel (petrol-gasoline) - Retail                     111.2686
Garlic - Retail                                      41.7712
Groundnuts (shelled) - Retail                        36.0327
Lentils - Retail                                      8.6060
Meat (chicken) - Retail                              15.6383
Meat (mutton) - Retail                               59.3223
Meat (veal) - Retail                                 49.7239
Milk (pasteurized) - Retail                           5.3813
Milk (powder, infant formula) - Retail              159.4458
Oil (olive) - Retail                                 34.7226
Oil (sunflower) - Retail                             22.7400
Onions - Retail                                       6.5986
Oranges - Retail                                      7.0085
Pasta - Retail                                        5.0748
Peas (green, dry) - Retail                            3.5312
Potatoes - Retail                                     5.5475
Rice - Retail                                        10.4043
Salt - Retail                                         2.9118
Spinach - Retail                                      6.7115
Sugar - Retail                                        5.5038
Tea (green) - Retail                                  4.7200
Tea (herbal) - Retail                                 6.9347
Tea - Retail                                         35.4751
Tomatoes (paste) - Retail                            12.4038
Tomatoes - Retail                                     7.3245
Transport (public) - Retail                           3.6964
Wage (non-qualified labour, non-agricultural) -...   46.8000
Water - Retail                                        7.4418
Wheat flour - Retail                                  4.5670
Yogurt - Retail                                       7.4009
Zucchini - Retail                                     7.3851

In [21]:
df.pivot_table(values='Price', index='Month', columns='Place', aggfunc = {min, max})

/var/folders/7b/s694fx0d6wb04bgqp_b182140000gn/T/ipykernel_80104/2718302221.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.pivot_table(values='Price', index='Month', columns='Place', aggfunc = {min, max})
/var/folders/7b/s694fx0d6wb04bgqp_b182140000gn/T/ipykernel_80104/2718302221.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.pivot_table(values='Price', index='Month', columns='Place', aggfunc = {min, max})

            max                                          min                   \
Place    Ankara  Istanbul     Izmir National Average  Ankara Istanbul   Izmir
Month
1      115.3673  133.6567  138.4894         120.3109  0.4118   0.4118  0.4118
2      114.5794  128.7900  136.9639         118.3407  0.4118   0.4118  0.4118
3      114.4755  125.3457  135.8439         117.1583  0.4118   0.4118  0.4118
4      115.3275  122.9646  136.6353         118.2785  0.4054   0.4118  0.4118
5      115.1821  121.9435  135.7095         118.3900  0.3998   0.4118  0.4118
6      121.1607  125.6170  145.7873         123.7930  0.3845   0.4072  0.4073
7      122.2225  126.5250  150.0380         125.7592  0.3805   0.4075  0.3885
8      122.4023  122.9007  143.0405         122.8990  0.4118   0.4118  0.4118
9      127.7275  137.1003  150.6258         143.7910  0.4118   0.4118  0.4118
10     147.0118  155.8673  159.4458         154.9253  0.4120   0.4120  0.4120
11     151.3404  155.3362  155.8369         155.2338  0.4120   0.4120  0.4120
12     151.5234  154.4567  155.9032         154.8652  0.4120   0.4120  0.4120


Place National Average
Month
1               0.3210
2               0.3400
3               0.3400
4               0.3200
5               0.2539
6               0.2677
7               0.3200
8               0.3200
9               0.3500
10              0.3260
11              0.3150
12              0.3190

In [26]:
import numpy as np
df.pivot_table(values = ['Price', 'Month'], index= 'ProductName', columns = 'Place', aggfunc= {'Price': np.sum, 'Month': np.mean})

/var/folders/7b/s694fx0d6wb04bgqp_b182140000gn/T/ipykernel_80104/4279351568.py:2: FutureWarning: The provided callable <function sum at 0x1062bae80> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.pivot_table(values = ['Price', 'Month'], index= 'ProductName', columns = 'Place', aggfunc= {'Price': np.sum, 'Month': np.mean})
/var/folders/7b/s694fx0d6wb04bgqp_b182140000gn/T/ipykernel_80104/4279351568.py:2: FutureWarning: The provided callable <function mean at 0x1062bbf60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(values = ['Price', 'Month'], index= 'ProductName', columns = 'Place', aggfunc= {'Price': np.sum, 'Month': np.mean})

                                                   Month                   \
Place                                              Izmir National Average
ProductName
Apples (red) - Retail                                NaN              3.0
Apples - Retail                                     12.0              NaN
Bananas - Retail                                    12.0              NaN
Beans (white) - Retail                              12.0              NaN
Bread (common) - Retail                             12.0              NaN
Bread (pita) - Retail                                NaN              3.0
Bulgur - Retail                                     12.0              NaN
Cabbage - Retail                                    12.0              NaN
Cauliflower - Retail                                12.0              NaN
Cheese - Retail                                     12.0              NaN
Chickpeas - Retail                                  12.0              NaN
Cocoa (powder) - Retail                             12.0              NaN
Coffee (instant) - Retail                           12.0              NaN
Coffee - Retail                                     12.0              NaN
Cucumbers (greenhouse) - Retail                      NaN              3.0
Cucumbers - Retail                                  12.0              NaN
Eggplants - Retail                                  12.0              NaN
Eggs - Retail                                       12.0              NaN
Electricity - Retail                                12.0              NaN
Fish (fresh) - Retail                               12.0              NaN
Fuel (gas) - Retail                                 12.0              NaN
Fuel (petrol-gasoline) - Retail                     12.0              NaN
Garlic - Retail                                     12.0              NaN
Groundnuts (shelled) - Retail                       12.0              NaN
Lentils - Retail                                    12.0              NaN
Meat (chicken) - Retail                             12.0              NaN
Meat (mutton) - Retail                              12.0              NaN
Meat (veal) - Retail                                12.0              NaN
Milk (pasteurized) - Retail                         12.0              NaN
Milk (powder, infant formula) - Retail              12.0              NaN
Oil (olive) - Retail                                12.0              NaN
Oil (sunflower) - Retail                            12.0              NaN
Onions - Retail                                     12.0              NaN
Oranges - Retail                                    12.0              NaN
Pasta - Retail                                      12.0              NaN
Peas (green, dry) - Retail                           NaN              6.0
Potatoes - Retail                                   12.0              NaN
Rice - Retail                                       12.0              NaN
Salt - Retail                                       12.0              NaN
Spinach - Retail                                    12.0              NaN
Sugar - Retail                                      12.0              NaN
Tea (green) - Retail                                 NaN              3.0
Tea (herbal) - Retail                               12.0              NaN
Tea - Retail                                        12.0              NaN
Tomatoes (paste) - Retail                           12.0              NaN
Tomatoes - Retail                                   12.0              NaN
Transport (public) - Retail                         12.0              NaN
Wage (non-qualified labour, non-agricultural) -...   NaN              3.0
Water - Retail                                      12.0              NaN
Wheat flour - Retail                                12.0              NaN
Yogurt - Retail                                     12.0              NaN
Zucchini - Retail                                   12.0              NaN

                                                       Price
Place                                                  Izmir National Average
ProductName
Apples (red) - Retail                                    NaN             2.83
Apples - Retail                                       4.2447              NaN
Bananas - Retail                                      9.8327              NaN
Beans (white) - Retail                               13.0975              NaN
Bread (common) - Retail                               5.9795              NaN
Bread (pita) - Retail                                    NaN             2.48
Bulgur - Retail                                       5.0640              NaN
Cabbage - Retail                                      1.4376              NaN
Cauliflower - Retail                                  2.7437              NaN
Cheese - Retail                                      35.5297              NaN
Chickpeas - Retail                                    9.2749              NaN
Cocoa (powder) - Retail                              51.6071              NaN
Coffee (instant) - Retail                            51.1247              NaN
Coffee - Retail                                      51.5925              NaN
Cucumbers (greenhouse) - Retail                          NaN             4.24
Cucumbers - Retail                                    5.0299              NaN
Eggplants - Retail                                    3.9435              NaN
Eggs - Retail                                         0.6301              NaN
Electricity - Retail                                  0.7102              NaN
Fish (fresh) - Retail                                27.8747              NaN
Fuel (gas) - Retail                                 109.1172              NaN
Fuel (petrol-gasoline) - Retail                       6.9867              NaN
Garlic - Retail                                      38.4497              NaN
Groundnuts (shelled) - Retail                        33.0362              NaN
Lentils - Retail                                      7.5267              NaN
Meat (chicken) - Retail                              11.7723              NaN
Meat (mutton) - Retail                               59.2274              NaN
Meat (veal) - Retail                                 48.0534              NaN
Milk (pasteurized) - Retail                           5.1285              NaN
Milk (powder, infant formula) - Retail              147.1558              NaN
Oil (olive) - Retail                                 30.1293              NaN
Oil (sunflower) - Retail                             10.8694              NaN
Onions - Retail                                       2.2126              NaN
Oranges - Retail                                      3.9023              NaN
Pasta - Retail                                        4.9827              NaN
Peas (green, dry) - Retail                               NaN             3.29
Potatoes - Retail                                     2.0924              NaN
Rice - Retail                                        10.2803              NaN
Salt - Retail                                         2.7772              NaN
Spinach - Retail                                      2.5628              NaN
Sugar - Retail                                        5.5038              NaN
Tea (green) - Retail                                     NaN             4.65
Tea (herbal) - Retail                                 5.8147              NaN
Tea - Retail                                         35.1895              NaN
Tomatoes (paste) - Retail                            10.8901              NaN
Tomatoes - Retail                                     4.7359              NaN
Transport (public) - Retail                           3.6964              NaN
Wage (non-qualified labour, non-agricultural) -...       NaN            46.80
Water - Retail                                        5.0664              NaN
Wheat flour - Retail                                  4.2703              NaN
Yogurt - Retail                                       7.4009              NaN
Zucchini - Retail                                     4.3735              NaN

In [ ]:
# [Thực hành] Hợp nhất các cột dữ liệu từ nhiều data frame

In [29]:
# Xóa các dòng có thuộc tính ProductID trùng nhau, giữ lại bản ghi cuối cùng, giữ chỉ số ban đầu của các dòng
df=df.drop_duplicates(['ProductId'], keep='last')
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,176,Tea (green) - Retail,33,Unit,3,2017,4.65
1,National Average,212,"Peas (green, dry) - Retail",5,KG,6,2015,3.29
2,National Average,229,Apples (red) - Retail,5,KG,3,2017,2.83
3,National Average,233,Cucumbers (greenhouse) - Retail,5,KG,3,2017,4.24
4,National Average,384,Bread (pita) - Retail,5,KG,3,2017,2.48

In [28]:
# Xóa các dòng có thuộc tính ProductID trùng nhau, giữ lại bản ghi cuối cùng, thiết lập lại chỉ số
df=df.drop_duplicates(['ProductId'], keep='last').reset_index(drop=True)
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,176,Tea (green) - Retail,33,Unit,3,2017,4.65
1,National Average,212,"Peas (green, dry) - Retail",5,KG,6,2015,3.29
2,National Average,229,Apples (red) - Retail,5,KG,3,2017,2.83
3,National Average,233,Cucumbers (greenhouse) - Retail,5,KG,3,2017,4.24
4,National Average,384,Bread (pita) - Retail,5,KG,3,2017,2.48

In [30]:
df_pro = df.loc[:, ['ProductId', 'ProductName', 'UmId', 'UmName']]
df_pro.head()

   ProductId                      ProductName  UmId UmName
0        176             Tea (green) - Retail    33   Unit
1        212       Peas (green, dry) - Retail     5     KG
2        229            Apples (red) - Retail     5     KG
3        233  Cucumbers (greenhouse) - Retail     5     KG
4        384            Bread (pita) - Retail     5     KG

In [32]:
# Tách file chứa thông tin giá
df_pri = df.loc[:,['ProductId','Place','Month','Year','Price']]
df_pri.head()

   ProductId             Place  Month  Year  Price
0        176  National Average      3  2017   4.65
1        212  National Average      6  2015   3.29
2        229  National Average      3  2017   2.83
3        233  National Average      3  2017   4.24
4        384  National Average      3  2017   2.48

In [33]:
# Tách file chứa thông tin giá với số dòng từ bản ghi 10 đến 20
df_pri10 = df.loc[10:20,['ProductId','Place','Month','Year','Price']]
df_pri10

    ProductId  Place  Month  Year    Price
10         92  Izmir     12  2019   0.6301
11         94  Izmir     12  2019  11.7723
12         97  Izmir     12  2019   5.5038
13        105  Izmir     12  2019  38.4497
14        108  Izmir     12  2019   7.5267
15        112  Izmir     12  2019   4.9827
16        114  Izmir     12  2019   4.7359
17        119  Izmir     12  2019  33.0362
18        124  Izmir     12  2019   5.9795
19        151  Izmir     12  2019  51.5925
20        173  Izmir     12  2019   2.2126

In [35]:
# Cách 1: Dùng phương thức merge ghép 2 dataFrame có cùng chung một cột thuộc tính. 
# DataFrame mới được tạo ra gồm các thuộc tính riêng và thuộc tính chung. 
# Cú pháp cơ bản: pd.merge(dataFram1,dataFram2,on=’Tên thuộc tính chung’).
df1 = pd.merge(df_pro, df_pri, on = 'ProductId')
df1.head()

,ProductId,ProductName,UmId,UmName,Place,Month,Year,Price
0,176,Tea (green) - Retail,33,Unit,National Average,3,2017,4.65
1,212,"Peas (green, dry) - Retail",5,KG,National Average,6,2015,3.29
2,229,Apples (red) - Retail,5,KG,National Average,3,2017,2.83
3,233,Cucumbers (greenhouse) - Retail,5,KG,National Average,3,2017,4.24
4,384,Bread (pita) - Retail,5,KG,National Average,3,2017,2.48

In [37]:
# Cách 2: Dùng phương thức concat cho phép ghép từ hai dataFrame trở lên lại với nhau
# Các dataFrame không cần cột thuộc tính chung, dataFrame mới được tạo ra bao gồm tất cả các cột thuộc tính của các dataFrame cần ghép. 
# Tham số axis = 1 có nghĩa là dữ liệu được ghép theo cột. 
# Cú pháp cơ bản: pd.concat([dataFram1,dataFram2,…], axis=1).

df2 = pd.concat([df_pro, df_pri], axis= 1)
df2.head()

,ProductId,ProductName,UmId,UmName,ProductId,Place,Month,Year,Price
0,176,Tea (green) - Retail,33,Unit,176,National Average,3,2017,4.65
1,212,"Peas (green, dry) - Retail",5,KG,212,National Average,6,2015,3.29
2,229,Apples (red) - Retail,5,KG,229,National Average,3,2017,2.83
3,233,Cucumbers (greenhouse) - Retail,5,KG,233,National Average,3,2017,4.24
4,384,Bread (pita) - Retail,5,KG,384,National Average,3,2017,2.48

In [38]:
df3=pd.concat([df_pro,df_pri,df_pri10], axis=1)
df3.head()

,ProductId,ProductName,UmId,UmName,ProductId,Place,Month,Year,Price,ProductId,Place,Month,Year,Price
0,176,Tea (green) - Retail,33,Unit,176,National Average,3,2017,4.65,NaN,NaN,NaN,NaN,NaN
1,212,"Peas (green, dry) - Retail",5,KG,212,National Average,6,2015,3.29,NaN,NaN,NaN,NaN,NaN
2,229,Apples (red) - Retail,5,KG,229,National Average,3,2017,2.83,NaN,NaN,NaN,NaN,NaN
3,233,Cucumbers (greenhouse) - Retail,5,KG,233,National Average,3,2017,4.24,NaN,NaN,NaN,NaN,NaN
4,384,Bread (pita) - Retail,5,KG,384,National Average,3,2017,2.48,NaN,NaN,NaN,NaN,NaN